.footer, .footer a {
	background-color: #333;
	color: #fff;
}

.footer-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: baseline;
	        align-items: baseline;
	-webkit-box-pack: justify;
	        justify-content: space-between;
	        padding: 50px 0 60px 0;
}

.footer-info, .footer-contacts {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	        flex-direction: column;
	-webkit-box-align: start;
	        align-items: flex-start;
}

.footer-info p {
	margin: 0;
	font-size: 14px;
	line-height: 20px;
}

.footer-logo{
	color: #fff;
	font-family: 'Russo One', sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	margin-bottom: 30px;
}

.footer-logo span {
	color: #ffaf02;
}

.footer-contacts-item {
	display: -webkit-box;
	display: flex;
	-webkit-box-align: center;
	        align-items: center;
	        margin-bottom: 10px;
}

.footer-contacts-item img {
	margin-right: 5px;
}

.contacts-link {
	margin-left: 25px;
}

.footer-contacts-vk, .footer-contacts-mail {
	padding-left: 70px;
	text-decoration: underline;
}
.footer-contacts-tel-icons {margin-left: -8px;}

@media (max-width: 750px) {
	.footer-container {
		-webkit-box-orient: 
		vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
		-webkit-box-align: center;
		        align-items: center;
		        padding: 30px 0 40px 0;
	}
	.footer-info p {display: none;}
	.footer-contacts-tel {
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		flex-direction: column;
	}
	.footer-contacts-tel a {
		font-size: 24px; 
		margin: 0 0 10px 0;
	}
	.footer-contacts {
		-webkit-box-align: center;
		        align-items: center;
	}
	.footer-contacts-item {padding: 0;}
	.footer-contacts-tel-icons {margin: 0 0 20px 0;}
}