.why {
	background-color: #fff;
}

.why-container {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: center;
	align-items: center;
	padding: 45px 0 65px 0;
}

.why-container h2 {
	margin-bottom: 40px;
	text-align: center;
}

.why-cards {
	min-width: 100%;
	display: -webkit-box;
	display: flex;
	flex-wrap: wrap;
	-webkit-box-align: baseline;
	align-items: baseline;
	-webkit-box-pack: justify;
	justify-content: space-between;
}
.why-card {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-direction: column;
	-webkit-box-align: start;
	align-items: flex-start;
	max-width: 31%;
	height: 120px;
	padding: 15px 0 15px 140px;
	margin-bottom: 50px;
}

.why-card h3 {
	font-size: 16px;
	margin-bottom: 15px;
}

.why-card p {
	font-size: 14px;
}

.why-card1 {
	background-image: url(img/why/1.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}
.why-card2 {
	background-image: url(img/why/2.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}
.why-card3 {
	background-image: url(img/why/3.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}
.why-card4 {
	background-image: url(img/why/4.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}
.why-card5 {
	background-image: url(img/why/5.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}
.why-card6 {
	background-image: url(img/why/6.png);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: top left;
}

@media (max-width: 1030px) {
	.why-card {max-width: 48%;}
}
@media (max-width: 750px) {
	.why-card {
		min-width: 100%; 
		background-image: none;
		height: 70px;
		padding: 0;
		margin: 0;
	}
	.why-card h3 {margin-bottom: 5px;}
}